<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4f8f5">  <td>21/12/28 00:30:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestaAssured.LoginCheck()[pri:0, instance:com.ust.RestaAssured@942a29c]">LoginCheck</td> 
  <td>main@79782883</td>   <td></td> </tr>
<tr bgcolor="d4f8f5">  <td>21/12/28 00:30:48</td>   <td>1440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestaAssured.RegistrationCheck()[pri:0, instance:com.ust.RestaAssured@942a29c]">RegistrationCheck</td> 
  <td>main@79782883</td>   <td></td> </tr>
</table>
